<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elm.mycheck.login">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".model.Sugar"
        android:allowBackup="true"
        android:icon="@mipmap/my_check"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Homev2" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Nothing" />
        <activity
            android:name=".PasswordReset"
            android:label="MyNote:Password Reset" />
        <activity
            android:name=".RegisterActivity"
            android:label="MyNote:Create Account" />
        <activity
            android:name=".Navigation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Basil" />

        <meta-data
            android:name="DATABASE"
            android:value="myCheckv1.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.elm.mycheck.login.model" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".AddNote"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.Nothing"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".NoteCard" />

        <service
            android:name=".services.note.SyncUpload"
            android:exported="false" />
        <service
            android:name=".services.note.SyncFavourite"
            android:exported="false" />
        <service
            android:name=".services.note.SyncDelete"
            android:exported="false" />
        <service
            android:name=".services.note.SyncUpdate"
            android:exported="false" />
        <service
            android:name=".services.alarm.AlarmCrud"
            android:exported="false" />

        <receiver android:name=".services.alarm.ReminderAlarms">
            <intent-filter>
                <action android:name="DISPLAY_NOTIFICATION2" />
            </intent-filter>
        </receiver>
        <receiver android:name="layout.ToDo2$TaskReceiver">
            <intent-filter>
                <action android:name="add_new_task" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".network.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="newUpload" />
                <action android:name="favourite" />
                <action android:name="delete" />
                <action android:name="Update" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FullNote"
            android:label="@string/title_activity_full_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewReminder"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.PrimarySettings"/>
        <activity
            android:name=".NotificationBase"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Nothing" />
        <activity
            android:name=".LockScreenAlarm"
            android:theme="@style/AppTheme.Nothing" />
        <activity android:name=".NewToDo" />
        <activity android:name=".ToDoDetails" />

        <service
            android:name=".services.alarm.SnoozeCounter"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".services.alarm.ResetAlarms"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.engage.todo.Today"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="todoToday" />
            </intent-filter>
        </service>
        <service
            android:name=".services.engage.todo.Weekly"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.engage.RateUs"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.engage.Share"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.engage.Morning"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.engage.Evening"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".services.engage.fcm.FcmToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.engage.fcm.Messsage"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ManageCategories" />

        <service
            android:name=".services.alarm.PlaySound"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SelectPuzzle" />

        <service
            android:name=".services.alarm.SoundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".PuzzleDetails" />
    </application>

</manifest>